[bumpversion]
<<<<<<< HEAD
current_version = 0.2.14
=======
current_version = 0.2.20
>>>>>>> 71030d1e03348d1018fc6856af7b1a046a4a12e2
commit = True
tag = True

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:coolpropx/__init__.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"

[bumpversion:file:docs/conf.py]
search = release = "v{current_version}"
replace = release = "v{new_version}"
